
@{
    ViewBag.Title = "Admin";
}

<div class="container-fluid">
    <h2 class="text-center">About The Admin!</h2>
    <br />
    <div class="row" style="padding-top:5em">
        <div class="col-sm-8 text-justify">
            <p>
                Hello, I am the creator/Admin of this application. My name is Taylor and I am a 20 year old female from Scotland.
                I have always been into fitness and knowing about calories and wanting to keep on track with counting my calorie intake.
                Therefore thought why not create an application that does all and more. This application,
                should be easy to use, helpful, informative and useful.
            </p>
            <br />
            <br />
            <p>
                A little random few bits of information on me. I love learning new things, I am always furthering my,
                knowledge on things I know to the best of my abilities while also wanting to learn many new skills.
                I love history especially the ancient Egyptians and Romans. I'm starting to get into the Ancient African designs and the tribes along with Greek mythology.
                I also love expanding all my computing knowledge from software, to hardware, business, to administration to
                engineering and to general programming and testing.
                As I stated I am just out of my teens and still love a night out with friends and family so am always wanting to hit restaurants and pubs.
                Love sitting somewhere with good company and enjoying life.
                I also love concerts, holidays(who doesn't),my dog, studying, relaxing, netflix and work (nerd I know).
                That's a little about me the creator of this application, hope you feel like you know me a bit better now!!
            </p>
        </div>
    </div>
</div>